body {
    margin: 10px;
    background-color: black;
    
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 100px;
    background-color: rgb(165, 3, 3);
    color: #444;
}

.box {
    background-color: #444;
    color: rgb(8, 6, 6);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.a {
    grid-column: 1 / span 2;
}

.b {
    grid-column: 1 / span 2;
}

.c {
    grid-column: 3 ;
    grid-row: 1 / span 3;
}

.d {
    grid-column: 1 ;
    grid-row: 3 ;
}

.e {
    grid-column: 2 ;
    grid-row: 3 ;
}

.reglas{
    width: 200px;
    height: 200px;
}